#grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border: 0;
  padding: 0;
}
#content{
  display: grid;
  grid-template-columns: 200px 1fr;
  border: 0;
  padding: 0;
}
#content ul{
  margin: 0;
  border: 0;
  padding: 0;
}
div{
  border: 5px solid darkseagreen;
  text-align: center;
  padding: 40px;
}
h1{
  border: 5px solid gray;
  text-align: center;
  margin: 0;
  padding: 40px;
}
a{
  color: black;
  text-decoration: none;
}
.button{
  border: 5px solid darkseagreen;
  text-align: center;
  padding: 40px;
  width: 200px;
}
